.projects {
  padding-top: 160px;
  padding-bottom: 120px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 80px;
  column-gap: 40px;
  justify-content: center;
  padding-left: 0;
  margin-top: 56px;
  margin-bottom: 0;
  list-style: none;
}

.list-item {
  position: relative;
}

.item-link {
  display: inline-block;
  max-height: 455px;
  overflow: hidden;
  background-color: #000;

  &:hover {
    .image {
      opacity: 0.6;
    }

    .block {
      opacity: 1;
    }

    .arrow {
      opacity: 1;
      animation: arrow 0.4s normal;

      @keyframes arrow {
        0% {
          top: 35%;
          left: 43%;
        }

        100% {
          top: 32%;
          left: 46%;
        }
      }
    }
  }
}

.image {
  transition: $transition-base;
}

.block {
  position: absolute;
  top: 34%;
  left: 34%;
  opacity: 0;
  transition: $transition-base;
}

.arrow {
  position: absolute;
  top: 32%;
  left: 46%;
  opacity: 0;
  transition: $transition-base;
}

.item-span {
  display: block;
  margin-top: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 15px;
  color: $color-secondary;
  text-transform: uppercase;
}

.item-text {
  margin-top: 16px;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 22px;
  text-transform: capitalize;
}

.wrapper-link {
  margin-top: 72px;
  text-align: center;
}
