.web {
  padding-top: 80px;
  padding-bottom: 150px;

  @include sm-down {
    padding-bottom: 60px;
  }
}

.wrapper {
  overflow: visible;
}

.text {
  display: block;
  font-size: 120px;
  font-weight: 800;
  text-align: center;
  white-space: nowrap;

  &:nth-of-type(2) {
    color: #fff;
    text-shadow: 1px 1px 0 #2a524c, -1px 1px 0 #2a524c, 1px -1px 0 #2a524c, -1px -1px 0 #2a524c;
  }

  @include sm-down {
    font-size: 48px;
  }
}
