.technologies {
  padding-top: 88px;
  padding-bottom: 88px;
  background-color: #fbfbfb;
}

.wrapper-images {
  margin-top: 72px;
  overflow: hidden;
}

.container-images {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  align-items: center;
  justify-content: center;

  @include md-down {
    display: block;
    white-space: nowrap;
    animation: marquee 10s linear infinite;

    @keyframes marquee {
      0% {
        transform: translateX(100%);
      }

      100% {
        transform: translateX(-100%);
      }
    }
  }
}
